@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --pdx: 3em;
    --gray: #dddcda;
    --white: #FFFFFE;
    --black: black
}

@font-face {
    font-family: poppins;
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: ubun;
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: urba;
    src: url("./assets/fonts/Urbanist-Regular.ttf");
}

.pop {
    font-family: poppins;
}

.ubun {
    font-family: ubun;
}

.urba {
    font-family: urba;
}